<%= link_to 'Back', publications_path %>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @publication.text %>
</p>


<%= render partial: './messages/messages_history', locals: {publication: @publication}%>
<%= render partial: './messages/message_form', locals: {message: @message, chatroom: @publication.chatroom}%>